.project-page{
  @extend .container;
  color: $secondary;
  @extend .my-5;
  &__area{
    @extend .d-flex;
    .item{
      @extend .px-3;
      font-size: 1.8rem;
      a{
        color: inherit;
      }
      i{
        transition: .5s;
      }
      &:hover{
        i{
          transform: rotate(360deg);
          color: var(--basecolor);
          cursor: pointer;
        }
      }
    }
    .active{
      color: var(--basecolor);
    }
  }
  &__title{
    @extend .text-center;
    font-size: 2.4rem;
    @extend .pt-4;
  }
  &__description{
    font-size: 1rem;
    @extend .py-4;
  }
  &__content{

  }
}