.aboutUs__icons {
  @extend .row;
  @extend .justify-content-center;
  @extend .text-center;
  color: $secondary;

  a{
    color: inherit;
    i{
      transition: .5s;
    }
    &:hover{
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      i{
        color: var(--basecolor);
        transform: scale(1.1);
      }
    }
  }
  .item {
    @extend .px-5;
    @extend .my-2;
    @extend .col-md-2;
    @extend .col-sm-3;
    @extend .col-6;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .flex-column;
    transition: .5s;
    &:hover{
      color: var(--basecolor);

    }

    i {
      @extend .px-2;
      font-size: 4rem;
      @media screen and (max-width: 600px){
        font-size: 2rem;
      }

    }

    p {
      font-size: .9rem;
      @extend .py-2;
    }
  }
}