.aboutUs__team {
  @extend .row;
  @extend .my-3;

  .item {
    @extend .col-lg-6;
    @extend .row;
    @extend .my-4;
    @extend .px-4;
    @extend .mx-auto;
    @media screen and (max-width: 575px){
      text-align: center;
    }
    &__avatar {
      @extend .col-sm-4;
      @extend .text-center;
      @extend .d-flex;
      @extend .align-items-center;
      @extend .justify-content-center;
      img {
        @extend .w-100;
        max-width: 200px;
        border-radius: 100%;
      }
    }

    &__wrapper {
      @extend .col-sm-8;
    }
    &__line-wrapper{
      @extend .d-flex;
      @extend .justify-content-between;
      @extend .mt-3;
      .socialIcons{
        @extend .d-flex;
        @extend .justify-content-end;
        @extend .align-items-center;
        &__item{
          @extend .ml-2;
          i{
            font-size: 1.4rem;
            @extend .px-2;
          }
          a{
            color: inherit;
            &:hover{
              color: inherit;
              text-decoration: none;
            }
          }
        }
      }
    }

    &__text{
      @extend .py-1;
      &--name {
        font-size: 1.3rem;
      }

      &--state {
        font-size: .9rem;
        @extend .font-weight-bold;
      }

      &--description {
        font-size: .75rem;
      }
    }
    &__icons{
      @extend .d-flex;
      font-size: 2rem;
      @media screen and (max-width: 575px){
        justify-content: center;
      }

      .icons-item{
        @extend .mr-4;
        @media screen and (max-width: 575px){
         margin-left: 1rem !important;
         margin-right: 1rem !important;
        }
      }
    }


  }
}