.study__menu {
  @extend .py-3;
  transition: 0s;
  ul {
    @extend .px-0;
    font-size: 1.3rem;
    li {
      display: inline-block;
      @extend .px-3;
      &:first-child{
        padding-left: 0 !important;
      }
      .content{
        @extend .d-flex;
        @extend .flex-column;
        @extend .align-items-center;
        //transition: .5s;
        transition-delay: 0s;
        i{
          @extend .p-3;
          font-size: 3rem;
        }
        &:hover{
          //color: var(--basecolor);
          cursor: pointer;
        }
      }
      .active{
        color: var(--basecolor);
      }
    }
  }
}