.study-page{
  @extend .container;
  @extend .px-sm-4;
  @extend .px-1;
  @extend .py-3;
  @extend .my-sm-5;
  @extend .my-3;
  transition: -.5s !important;
  &__title{
    font-size: 1.7rem;
    @extend .px-2;
  }
  &__description{
    font-size: .9rem;
    @extend .px-2;
  }
  &__editor{
    @extend .py-4;
    .title{
      @extend .pt-1;
      font-size: 1.1rem;
    }
    .editor{
      @extend .py-2;
    }
    .description{
      font-size: .85rem;
      @extend .py-1;
    }
  }
}