.pageContent {
  @extend .w-100;
  //min-height: 40vh;
  @media screen and (max-width: 565px) {
    //min-height: 20vh;
  }
  @extend .pb-5;

  &__content {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .flex-column;

    .body {
      display: none;
    }

    .show {
      @extend .d-block;
    }

    .hide {
      @extend .d-none;
    }

  }

}



::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {

}
::-webkit-scrollbar-track{
  background: grey;
}