
.home {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .w-100;
  position: absolute;
  top: 35%;
  transition: .5s all;
  font-family: 'Lexend Deca', sans-serif;
  &StickyToTop {
    @extend .justify-content-between;
    top: 2%;
  }

  &__title {
    span {
      font-size: 60px;
      color: $baseColor;
      font-family: 'Kaushan Script', cursive;
      @extend .font-weight-bold;
      @media screen and (max-width: 400px) {
        font-size: 45px;

      }

    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }


}

.animationEnter {

  animation: enter .5s;
  @keyframes enter {
      from{ opacity: 0;}
      to{opacity: 100%;}
  }

}

.animationLeave {
  animation: leave .5s;
  @keyframes leave {
    from{ opacity: 100%;}
    to{opacity: 0;}
  }
}