.projects__menu {
  @extend .col-lg-3;
  @extend .py-4;
  ul {
    list-style: none;
    li {
      @extend .py-2;
      transition: .5s;
      i {
        font-size: 1.4rem;
        width: 40px;
        @extend .text-center;
      }
      &:hover {
        cursor: pointer;
        color: var(--basecolor);
      }
    }
    .active {
      color: var(--basecolor);
    }
  }
}